body {
  background-color: #35654d;
}

.card {
    margin-top: 3em;
}

.card-header {
    text-align: center;
    position: relative;
}

footer {
    margin-bottom: 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:#212529;
    color: #D0CBCB;
    z-index: 99;
    padding: 0.3em 0 0.3em 0;
}

#wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  color: white;
  text-align: center;
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

#board {
  display: flex;
  flex-wrap: wrap;
}

#board div:hover {
  cursor: pointer;
}

#c_table {
  margin: 0 auto;
  width: 800px;
  height: 250px;
}

#c_player {
  margin: 0 auto;
  width: 800px;
  height: 250px;
}

hr {
  background-color: #C0C1C0;
  border-color: #C0C1C0;
  color: #C0C1C0;
}

.list-group li
{
  background-color: #F0EFEF;
}

.btn-outline-secondary:hover {
  background-color: #2371bb !important;
}

.chat 
{
  position: fixed;
  bottom: 30px;
  right: 0;
  width: 400px;
  height: 350px;
  background-color: #ffffff;
  border-radius: 5px 0 0 0;
  z-index: 50;
}

@media only screen and (max-width: 1200px) {
  #c_table {
    width: 600px;
    height: 200px;
  }

  #c_player {
    width: 600px;
    height: 200px;
  }
}

@media only screen and (max-width: 1000px) {
  #c_table {
    width: 400px;
    height: 150px;
  }

  #c_player {
    width: 400px;
    height: 150px;
  }
}

@media only screen and (max-width: 470px) {
  #c_table {
    width: 300px;
    height: 100px;
  }

  #c_player {
    width: 300px;
    height: 100px;
  }
}