<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/"><img src="/pics/logon.svg" height="32" width="32" style="margin-right: 0.5em;">Pker APP</a>
  </div>
</nav>
<footer>
  <div>
    © 2020 Copyright <span>Pker APP</span>
  </div>
</footer>