<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="z-index: 99;">
  <div class="container">
    <a class="navbar-brand" href="/"><img src="/pics/logon.svg" height="32" width="32" style="margin-right: 0.5em;">{{appName}}</a>
  </div>
</nav>
<footer>
  <div>
    © 2020 Copyright <span>{{appName}}</span>
  </div>
</footer>