<div class="container p-4">
    <div class="row">
         <div class="col-md-5 mx-auto">
              <div class="card">
                    <div class="card-header">
                        <h2>Rooms</h2> 
                    </div>
                    <div class="card-body">
                        <div class="list-group" style="text-align: center;">
                        {{#each rooms}}
                            <a href="/room?r={{this.id}}" class="list-group-item list-group-item-action">{{this.id}}</a>
                        {{/each}}
                        </div>
                    </div>
              </div>
         </div>
    </div>
</div>