<div class="container p-4">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h2>Partidas</h2> 
                </div>
                <div class="card-body" style="text-align: center; padding-bottom: 0.3em;">
                    <a class="btn btn-primary btn-block" href="/LaViuda">La Viuda</a>
                    <a class="btn btn-primary btn-block" href="/TexasHoldem">Texas Hold'em</a>           
                </div>
                <hr>
                <div style="text-align: center; margin-bottom: 0.5em;">
                    <p>Jugadores en Linea: {{online}}</p>
                </div>
            </div>
            <div class="card" style="margin-top: 1em; padding: 0.5em; text-align: center;">
                <div class="fb-like" data-href="https://pkerapp.herokuapp.com/" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="true"></div>
            </div>
        </div>
    </div>
</div>